// 자료
// https://colorhunt.co/palette/00ffd131c6d4ffff00ff1e1e

$color-light-green: #00ffd1;
$color-dark-green: #31c6d4;
$color-yellow: #ffff00;
$color-red: #ff1e1e;
$color-faint-brown: rgba(222, 188, 77, 0.304);
$color-yellow-brown: rgb(171, 145, 59);

// grey
$color-grey-e: #eee;
$color-grey-d: #ddd;
$color-grey-c: #ccc;
$color-grey-b: #bbb;
$color-grey-9: #999;

// black, white
$color-black: #000;
$color-white: #fff;
