.add {
  display: flex;
  margin-bottom: 0.7rem;
  height: 2rem;

  & .date {
    flex-grow: 4;
  }

  & .text {
    flex-grow: 15;
  }

  & .submit {
    flex-grow: 3;
    background-color: #00ffd1;
    color: black;
  }
}
