.sort {
  height: 1.5rem;
  display: flex;
  justify-content: end;
  background-color: rgba(222, 188, 77, 0.304);
}

.sort {
  & button {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    background-color: transparent;

    &.selected {
      color: #ff1e1e;
    }
  }
}
